body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

#header, #s1{
    display: flex;
    padding: 0px 50px;
    background-color: #1F2937;
}

#header {
    justify-content: space-between;
    align-items: center;
    
    
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links a {
    text-decoration: none;
    color: inherit;
}

.header-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

#s1 {
    padding: 40px 50px;
}

.s1-left{
    max-width: 400px;
}

.s1-left-title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin: 8px 0px;
}

.s1-left-content{
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0px;
}

.s1-left button{
    margin: 8px 0px;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding: 8px 16px;
}

.s1-left button a{
    text-decoration: none;
    color: white;
}

.s1-right{
    flex: 0 0 auto;
    width: 400px;
    height: 200px;
    background-color: grey;
    align-self: center;
}

#s2{
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.s2-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.image-list{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    list-style-type: none;
    font-size: 18px;
}

.image-list li{
    max-width: 160px;
}

.image-list img{
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 15px;
}

.img-subtxt{
    text-align: center;
}